<template>
    <div>
       
<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand d-flex" href="#">
				<img class="light-mode-item navbar-brand-item" src="/images/img1.jpg" alt="logo">
                <h5 class="title">KASAE UNITED</h5>
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<!-- Nav category menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->

				</ul>
				<!-- Nav category menu END -->

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item ">
						<a class="nav-link  active" href="/" id="demoMenu"  aria-haspopup="true" aria-expanded="false">Home</a>
			
					</li>
                    <li class="nav-item ">
						<router-link to="/monthly" class="nav-link " href="#" id="pagesMenu"  aria-haspopup="true" aria-expanded="false">Monthly cont.</router-link>
			
					</li>
                    <li class="nav-item ">
						<router-link to="/harambee" class="nav-link " href="#" id="pagesMenu"  aria-haspopup="true" aria-expanded="false">Harambee</router-link>
			
					</li>

					<li class="nav-item ">
						<router-link to="/members" class="nav-link " href="#" id="accounntMenu"  >Members</router-link>
					</li>
					
                    <li class="nav-item ">
						<a class="nav-link " href="/constitution" id="accounntMenu"  aria-haspopup="true" aria-expanded="false">Constitution</a>
					</li>
	

			
				</ul>
				<!-- Nav Main menu END -->

				<!-- Nav Search START -->
				<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">
						<form class="position-relative">
							<input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
							<button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
						</form>
					</div>
				</div>
				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->

			<!-- Profile START -->
			<div v-if="auth==='yes'" class="dropdown ms-1 ms-lg-0">
				<a class="avatar avatar-sm p-0" href="index.html#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
					<img class="avatar-img rounded-circle" v-if="pic==='' || pic===null" src="/images/avatar.jpg" alt="avatar">
                    <img class="avatar-img rounded-circle" v-else :src="'/storage/avatars/'+pic" alt="avatar">
				</a>
				<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
					<!-- Profile info -->
					<li class="px-3">
						<div class="d-flex align-items-center">
							<!-- Avatar -->
							<div class="avatar me-3">
								<img v-if="pic==='' || pic===null" src="/images/avatar.jpg" class="avatar-img rounded-circle shadow"  alt="avatar">
                                <img v-else :src="'/storage/avatars/'+pic" class="avatar-img rounded-circle shadow"  alt="avatar">
							</div>
							<div>
								<a class="h6" href="#">{{name}}</a>
								<p class="small m-0">{{email}}</p>
							</div>
						</div>
						<hr>
					</li>
					<!-- Links -->
					<li><router-link to="/sms"  class="dropdown-item bg-danger-soft-hover" href="#"><i class="bi bi-envelope fa-fw me-2"></i>Bulk sms</router-link></li>
                    <li><a  v-on:click="logout()" class="dropdown-item bg-danger-soft-hover" href="#"><i class="bi bi-power fa-fw me-2"></i>Logout</a></li>
					<li> <hr class="dropdown-divider"></li>
					<!-- Dark mode switch START -->
					
          <!-- Dark mode switch END -->
				</ul>
			</div>

            <div v-else class="dropdown ms-1 ms-lg-0">
				<a class="avatar avatar-sm p-0" href="index.html#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
					<img class="avatar-img rounded-circle" src="/images/avatar.jpg" alt="avatar">
				</a>
				<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
					<!-- Profile info -->
					<li class="px-3">
						<div class="d-flex align-items-center">
							<!-- Avatar -->
							<div class="avatar me-3">
								<img class="avatar-img rounded-circle shadow" src="/images/avatar.jpg" alt="avatar">
							</div>
							<div>
								<a class="h6" href="#">Kasae United</a>
								<p class="small m-0">info@kasaeunited.com</p>
							</div>
						</div>
						<hr>
					</li>
					<!-- Links -->
					<li><router-link to="/login" class="dropdown-item bg-danger-soft-hover" href="#">
					<i class="bi bi-power fa-fw me-2"></i>Login</router-link></li>
					<li> <hr class="dropdown-divider"></li>
					<!-- Dark mode switch START -->
					
          <!-- Dark mode switch END -->
				</ul>
			</div>
			<!-- Profile START -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<main>
<router-view></router-view>
</main>
    </div>
</template>
<script>
export default {
    data() {
        return {
            name:'',
            auth:'',
            email:'',
            pic:'',
            message:{},
        }
    },
    created(){
        this.name=localStorage.getItem('name');
        this.auth=localStorage.getItem('auth');
        this.email=localStorage.getItem('email');
        this.pic=localStorage.getItem('pic');
    },
    watch:{
        '$route' (to, from) {
            this.name=localStorage.getItem('name');
        this.auth=localStorage.getItem('auth');
        this.email=localStorage.getItem('email');
         this.pic=localStorage.getItem('pic');

        }
    },
    methods: {
        logout() {
            localStorage.removeItem('token');
            localStorage.removeItem('auth');
            this.$router.push({name: 'login'});
            this.$router.go();

        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    }
}
</script>
