<template>
    <div>
<section class="pt-4">
	<div class="container">
		
		<div class="row g-4 justify-content-center">
            <h5 class="text-center">HARAMBEE</h5>

			<div class="col-lg-10 col-xl-6" v-for="data in months" :key="data.id">
				<div class="card shadow p-2">
					<div class="row g-0">
						<!-- Image -->
						<div class="col-md-4">
							<img src="/images/img1.jpg" class="rounded-3" alt="...">
						</div>

						<!-- Card body -->
						<div class="col-md-8">
							<div class="card-body">
								<!-- Title -->
								<div class="d-sm-flex justify-content-sm-between mb-2 mb-sm-3">
									<div>
										<h5 class="card-title mb-0"><a href="#">{{data.name}}</a></h5>
										<p class="small mb-2 mb-sm-0">Amount to pay is <span class="text-danger">Ksh. {{formatPrice(data.amount)}}</span> Account <span class="text-success">{{data.account}}</span></p>
									</div>
									<span v-if="data.status==='Active'" class="h6 fw-light">{{data.status}}<i class="fas fa-star text-success ms-1"></i></span>
                                    <span v-else class="h6 fw-light">{{data.status}}<i class="fas fa-star text-warning ms-1"></i></span>
								</div>
								<!-- Content -->
								<p class="text-truncate-2 mb-3">Summery of the contribution for  {{data.name}}.Click view more to see data or pay.</p>
								<!-- Info -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Title -->
									<h6 class="text-orange mb-0"><router-link :to="{name:'harambeedata',params:{id:data.id}}" class="text-success" href="#"> View more</router-link></h6>

									<!-- Social button -->
									<h6> Ksh.{{formatPrice(data.amounts)}}</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

        </div>
    </div>
</section>
    </div>
</template>
<script>
export default {
  name: "App",
  components: {
 
  },
  data() {
    return {
      months: [],
    };
  },
  created() {
    this.contributions();
  },
  methods: {
      routeToEdit(id){
           
      },
    
    contributions() {
      let uri = `/api/auth/getSingle`;
      this.axios.get(uri, { headers: { Authorization: "Bearer " + localStorage.getItem("token") }, }) .then((response) => {
          this.months = response.data.data;
        }) .catch((error) => {
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
            });
          }
        });
    },
     formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            filters(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.users=this.users2;
            }else{
                let ads =  this.users2.filter(function(product) {
                    return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.email.toLowerCase().includes(filterval.toLowerCase())
                });
                this.users=ads;
            }
        },
             
  },
  
};
</script>