<template>
    <div>
        <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/images/img1.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form v-on:submit.prevent="login()">
        <!-- Remind Passowrd -->
    <article class="ritalin">
      <a class="underlineHover " v-on:click="getOTPModal()" href="#">Click here to get password.</a>
    </article>
      <input type="text" v-model="message.email" id="login" class="fadeIn second login-text" name="login" placeholder="Phone no">
      <input type="password" v-model="message.password" id="password" class="fadeIn third login-text" name="login" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    

  </div>
</div>

<div class="modal fade" id="passmodal" tabindex="-1" aria-labelledby="addNewcardLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="addNewcardLabel">Get One time password</h5>
        <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <form class="row text-start g-3">
                    <div class="col-12">
						<label class="form-label">Enter your phone no. <span class="text-danger">*</span></label>
						<input type="text" v-model="message.email" class="form-control" aria-label="name of card holder" >
					</div>
					
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
        <button type="button" v-on:click="getOTP()" class="btn btn-success my-0">Get OTP</button>
      </div>
    </div>
  </div>
</div>
    </div>
</template>
<script>
export default {
  name: "App",
  components: {
 
  },
  data() {
    return {
      message:{}
    };
  },
  created() {
   
  
  },
  methods: {
      login() {
           this.$loading(true)
            let uri =`api/auth/login`;
            this.axios.post(uri, this.message).then((response) => {
                this.$loading(false)
                if(response.data.status){
                    if(response.data.user.status==='ACTIVE') {
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                             localStorage.setItem('email', response.data.user.email);
                              localStorage.setItem('pic', response.data.user.pic);
                            localStorage.setItem('auth', 'yes');
                            this.$toast.open({message: 'You are now logged in', type: 'success', position: 'top'});
                            this.$router.push({name: 'index'});
                            this.$router.go();
                    }else{
                        this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                    }
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
               this.$loading(false)
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });

        },
      getOTPModal(){
          $('#passmodal').modal('show');
      },
      getOTP(){
           $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
        let uri = `/api/auth/getOTP`;
         this.axios.post(uri,this.message, { headers: { Authorization: "Bearer " + localStorage.getItem("token") }, }) .then((response) => {
        $('.modal-content').loader('hide');
         if(response.data.status){
            $('#passmodal').modal('hide');
              this.$toast.open({ message: response.data.message,type: "success", position: "top", });
         }else{
              $('#passmodal').modal('hide');
         this.$toast.open({ message: response.data.message,type: "error", position: "top", });
         }
        }) .catch((error) => {
            $('.modal-content').loader('hide');
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({ message: "Something went wrong!",type: "error", position: "top", });
          }
        });
      },
      
    
    
             
  },
  
};
</script>