<template>
    <div>
<section class="pt-0 pt-md-5">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-lg-8 text-center mx-auto">
				<h6 class="">Active Members({{users.length}})</h6>
        <div class="row justify-content-center d-flex">
          <div class="col-sm-8">
                <form class="position-relative">
							<input class="form-control pe-5 bg-transparent"  v-model="message.filterval" v-on:keyup="filters()" type="search" placeholder="Search" aria-label="Search">
							<button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
						</form>
          </div>
          <div class="col-sm-2">
            <a v-if="auth==='yes'" class="btn btn-primary" v-on:click="routeToAdd()">Add</a>
          </div>
           <div class="col-sm-2">
            <router-link to="/members/list" v-if="auth==='yes'" class="btn btn-warning"><i class="fa fa-table"></i></router-link>
          </div>
        </div>
			</div>
		</div>

		<div class="row g-4">
			<!-- Card Item START -->
			<div class="col-md-6 col-lg-4 col-xxl-3" v-for="data in users" :key="data.id">
				<div class="card p-2 shadow h-100">
					<div class="rounded-top overflow-hidden">
						<div class="card-overlay-hover">
							<!-- Image -->
                            <img v-if="data.pic==='' || data.pic===null" src="/images/avatar.jpg" class="card-img-top" alt="course image">
							<img v-else :src="'/storage/avatars/'+data.pic" class="card-img-top" alt="course image">
						</div>
						<!-- Hover element -->
						<div class="card-img-overlay">
							<div class="card-element-hover d-flex justify-content-end">
								<a  v-on:click="routeToEdit(data.id)"  class="icon-md bg-white rounded-circle">
									<i class="fas fa-edit text-danger"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- Card body -->
					<div class="card-body px-2">
						<!-- Badge and icon -->
						<div class="d-flex justify-content-between">
							<!-- Rating and info -->
							<ul class="list-inline hstack gap-2 mb-0">
								<!-- Info -->
								<li class="list-inline-item d-flex justify-content-center align-items-center">
									<div class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"><i class="fas fa-phone"></i></div>
									<span class="h6 fw-light mb-0 ms-2">{{data.email}}</span>
								</li>
								<!-- Rating -->
								<li class="list-inline-item d-flex justify-content-center align-items-center">
									<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
									<span class="h6 fw-light mb-0 ms-2">Ksh.{{formatPrice(data.saving)}}</span>
								</li>
							</ul>
							<!-- Avatar -->
							<!-- <div class="avatar avatar-sm">
								<img class="avatar-img rounded-circle" src="/images/img1.jpg" alt="avatar">
							</div> -->
						</div>
						<!-- Divider -->
						<hr>
						<!-- Title -->
						<h6 class="card-title"><a v-on:click="routeToEdit(data.id)" href="#">{{data.name}}</a></h6>
						<!-- Badge and Price -->
						<div class="d-flex justify-content-between align-items-center mb-0">
							<div>
                                <a href="#" class="badge bg-info bg-opacity-10 text-info me-2"><i class="fas fa-circle small fw-bold"></i> {{data.code}} </a>-{{data.role}}</div>
							<!-- Price -->
							<h6 class="text-success mb-0">Ksh.{{formatPrice(data.amount)}}</h6>
						</div>
            <hr>
            <p class="text-center">{{data.email2}}</p>
					</div>
				</div>
			</div>	
			<!-- Card Item END -->

			

        </div>

    </div>
</section>

<div class="modal fade" id="addNewcard" tabindex="-1" aria-labelledby="addNewcardLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="addNewcardLabel">Edit member</h5>
        <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <form class="row text-start g-3">
					
		
					<!-- Card name -->
					<div class="col-12">
						<label class="form-label">Name <span class="text-danger">*</span></label>
						<input type="text" v-model="message.name" class="form-control" aria-label="name of card holder" >
					</div>
                    <!-- Card name -->
					<div class="col-12">
						<label class="form-label">Phone <span class="text-danger">*</span></label>
						<input type="text" v-model="message.email" class="form-control" aria-label="name of card holder" >
					</div>
                    <!-- Card name -->
					<div class="col-12">
						<label class="form-label">Email <span class="text-danger">*</span></label>
						<input type="text" v-model="message.email2" class="form-control" aria-label="name of card holder" >
					</div>
                    <div class="col-12">
						<label class="form-label">Gender <span class="text-danger">*</span></label>
						<select class="form-control" v-model="message.gender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </select>
					</div>
                     <div class="col-12">
						<label class="form-label">ID  <span class="text-danger">*</span></label>
						<input type="text" v-model="message.idno" class="form-control" aria-label="name of card holder" >
					</div>
                     <div class="col-12">
						<label class="form-label">Role  <span class="text-danger">*</span></label>
						<select class="form-control" v-model="message.role">
                            <option>Member</option>
                            <option>Chairperson</option>
                            <option>Ass.chairperson</option>
                            <option>Secretary</option>
                            <option>Org.secretary</option>
                            <option>Treasurer</option>
                        </select>
					</div>
                    <div class="row ">
                     <div class="col-6">
						<label class="form-label">Photo  <span class="text-danger">*</span></label>
						<input type="file" v-on:change="onImageChange"  class="form-control" aria-label="name of card holder" >
					</div>
                    <div class="col-6">
						<label class="form-label">Code ID <span class="text-danger">*</span></label>
						<input type="text" v-model="message.code" class="form-control" aria-label="name of card holder" disabled>
					</div>
                    </div>
                    
					
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
        <button type="button" v-on:click="updateMember()" class="btn btn-success my-0">Update</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add" tabindex="-1" aria-labelledby="addNewcardLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="addNewcardLabel">Add member</h5>
        <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <form class="row text-start g-3">
					
		
					<!-- Card name -->
					<div class="col-12">
						<label class="form-label">Name <span class="text-danger">*</span></label>
						<input type="text" v-model="message2.name" class="form-control" aria-label="name of card holder" >
					</div>
                    <!-- Card name -->
					<div class="col-12">
						<label class="form-label">Phone <span class="text-danger">*</span></label>
						<input type="text" v-model="message2.email" class="form-control" aria-label="name of card holder" >
					</div>
                    <!-- Card name -->
					<div class="col-12">
						<label class="form-label">Email <span class="text-danger">*</span></label>
						<input type="text" v-model="message2.email2" class="form-control" aria-label="name of card holder" >
					</div>
                    <div class="col-12">
						<label class="form-label">Gender <span class="text-danger">*</span></label>
						<select class="form-control" v-model="message2.gender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </select>
					</div>
                     <div class="col-12">
						<label class="form-label">ID  <span class="text-danger">*</span></label>
						<input type="text" v-model="message2.idno" class="form-control" aria-label="name of card holder" >
					</div>
                     <div class="col-12">
						<label class="form-label">Role  <span class="text-danger">*</span></label>
						<select class="form-control" v-model="message2.role">
                            <option>Member</option>
                            <option>Chairperson</option>
                            <option>Ass.chairperson</option>
                            <option>Secretary</option>
                            <option>Org.secretary</option>
                            <option>Treasurer</option>
                        </select>
					</div>
                    
					
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
        <button type="button" v-on:click="submitMember()" class="btn btn-success my-0">Submit</button>
      </div>
    </div>
  </div>
</div>

    </div>
</template>
<script>
export default {
  name: "App",
  components: {
 
  },
  data() {
    return {
      users: [],
      users2: [],
      message:{pic:''},
      message2:{},
       formData : new FormData(),
       auth:'',
    };
  },
  created() {
     this.auth=localStorage.getItem('auth');
    this.getMembers();
  },
  methods: {
    routeToAdd(){
     $('#add').modal('show');
    },
      routeToEdit(id){
        if(this.auth==='yes'){
           this.formData =new FormData(),
           $('#addNewcard').modal('show');
           this.getMemberData(id);
        }else{
          this.$toast.open({ message: "You must sign in to view more!",type: "error", position: "top",
            });
        }
           
      },
      getMemberData(id) {
           $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
      let uri = `/api/auth/getMemberData/${id}`;
      this.axios.get(uri, { headers: { Authorization: "Bearer " + localStorage.getItem("token") }, }) .then((response) => {
          $('.modal-content').loader('hide');
         if(response.data.status){
          this.message = response.data.info;
          
          }
          
        }) .catch((error) => {
             $('.modal-content').loader('hide');
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
            });
          }
        });
    },
    submitMember(){
    $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
      let uri = `/api/auth/submitMember`;
      this.axios.post(uri,this.message2, { headers: { Authorization: "Bearer " + localStorage.getItem("token") }, }) .then((response) => {
          $('.modal-content').loader('hide');
         if(response.data.status){
            this.getMembers();
             $('#add').modal('hide');
              this.$toast.open({ message: response.data.message,type: "success", position: "top", });
              this.message2={};
          }else{
            $('#add').modal('hide');
          this.$toast.open({ message: response.data.message,type: "error", position: "top", });
          }
        }) .catch((error) => {
             $('.modal-content').loader('hide');
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({ message: "Something went wrong!",type: "error", position: "top", });
          }
        });
    },
    updateMember() {
         $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
      let uri = `/api/auth/updateMember/${this.message.id}`;
      this.axios.post(uri,this.message, { headers: { Authorization: "Bearer " + localStorage.getItem("token") }, }) .then((response) => {
          $('.modal-content').loader('hide');
         if(response.data.status){
            this.getMembers();
             $('#addNewcard').modal('hide');
              this.$toast.open({ message: response.data.message,type: "success", position: "top", });
          }else{
            $('#addNewcard').modal('hide');
          this.$toast.open({ message: response.data.message,type: "error", position: "top", });
          }
        }) .catch((error) => {
             $('.modal-content').loader('hide');
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({ message: "Something went wrong!",type: "error", position: "top", });
          }
        });
    },
    getMembers() {
      let uri = `/api/auth/getMembers`;
      this.axios.get(uri, { headers: { Authorization: "Bearer " + localStorage.getItem("token") }, }) .then((response) => {
          this.users = response.data.data;
           this.users2 = response.data.data;
        }) .catch((error) => {
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
            });
          }
        });
    },
     formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            filters(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.users=this.users2;
            }else{
                let ads =  this.users2.filter(function(product) {
                    return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.email.toLowerCase().includes(filterval.toLowerCase())
                });
                this.users=ads;
            }
        },
        onImageChange(e){
            this.message.pic = e.target.files[0];
            this.postPic();
        },
        postPic() {
         $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
           this.formData.append('pic', this.message.pic);
      let uri = `/api/auth/postPic/${this.message.id}`;
      this.axios.post(uri,this.formData, { headers: { Authorization: "Bearer " + localStorage.getItem("token") }, }) .then((response) => {
          $('.modal-content').loader('hide');
         if(response.data.status){
            this.$toast.open({ message: response.data.message,type: "success", position: "top", });
            this.getMembers();
             $('#addNewcard').modal('hide');
          }else{
          this.$toast.open({ message: response.data.message,type: "error", position: "top", });
          }
        }) .catch((error) => {
             $('.modal-content').loader('hide');
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({ message: "Something went wrong!",type: "error", position: "top", });
          }
        });
    },
        
        
  },
  
};
</script>