<template>
    <div>
 
<section >
	<div class="container">
		<div class="row g-4 g-lg-0 align-items-center">

			<div class="col-md-6 align-items-center text-center">
				<!-- Image -->
				<img src="assets/images/element/contact.svg" class="h-400px" alt="">

				<!-- Social media button -->
				<!-- <div class="d-sm-flex align-items-center justify-content-center mt-2 mt-sm-4">
					<h5 class="mb-0">Follow us on:</h5> 
					<ul class="list-inline mb-0 ms-sm-2">
						<li class="list-inline-item"> <a class="fs-5 me-1 text-facebook" href="contact-us.html#"><i class="fab fa-fw fa-facebook-square"></i></a> </li>
						<li class="list-inline-item"> <a class="fs-5 me-1 text-instagram" href="contact-us.html#"><i class="fab fa-fw fa-instagram"></i></a> </li>
						<li class="list-inline-item"> <a class="fs-5 me-1 text-twitter" href="contact-us.html#"><i class="fab fa-fw fa-twitter"></i></a> </li>
						<li class="list-inline-item"> <a class="fs-5 me-1 text-linkedin" href="contact-us.html#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
						<li class="list-inline-item"> <a class="fs-5 me-1 text-dribbble" href="contact-us.html#"><i class="fas fa-fw fa-basketball-ball"></i></a> </li>
						<li class="list-inline-item"> <a class="fs-5 me-1 text-pinterest" href="contact-us.html#"><i class="fab fa-fw fa-pinterest"></i></a> </li>
					</ul>
				</div> -->
			</div>

			<!-- Contact form START -->
			<div class="col-md-6">
				<!-- Title -->
				<h2 class="mt-4 mt-md-0">Let's talk</h2>
				<p>Type message and select members to send sms to.</p>
					
				<form v-on:submit.prevent="sendSMS()">
					<!-- Name -->
					<!-- <div class="mb-4 bg-light-input">
						<label for="yourName" class="form-label">Your name *</label>
						<input type="text" class="form-control form-control-lg" id="yourName">
					</div> -->
					<!-- Email -->
					<div class="mb-4 bg-light-input">
						<label for="emailInput" class="form-label">Select members *</label>
						 <v-select label="name"   v-model="message.email" :options="users" :reduce="users => users.email" multiple ></v-select>
					</div>
                    <hr>
                    <div class="text-success">{{message.email}}</div>
                    <hr>
					<!-- Message -->
					<div class="mb-4 bg-light-input">
						<label for="textareaBox" class="form-label">Message *</label>
						<textarea v-model="message.message" class="form-control" id="textareaBox" rows="4" required></textarea>
					</div>
					<!-- Button -->
					<div class="d-grid" v-if="auth==='yes'">
						<button class="btn btn-lg btn-primary mb-0" type="submit">Send Message</button>
					</div>	
				</form>
			</div>
			<!-- Contact form END -->
		</div>
	</div>
</section>
<!-- =======================
Image and contact form END -->
    </div>
</template>
<script>
export default {
  name: "App",
  components: {
 
  },
  data() {
    return {
      users: [],
       auth:'',
       message:{}
    };
  },
  created() {
     this.auth=localStorage.getItem('auth');
    this.getMembers();
  },
  methods: {
    sendSMS(){
        this.$loading(true)
      let uri = `/api/auth/postAllsms`;
      this.axios.post(uri,this.message, { headers: { Authorization: "Bearer " + localStorage.getItem("token") }, }) .then((response) => {
          this.$loading(false)
          if(response.data.status){
           this.$toast.open({ message: response.data.message,type: "success", position: "top",
            });
          }else{
              this.$toast.open({ message: response.data.message,type: "error", position: "top",
            });
          }
        }) .catch((error) => {
            this.$loading(false)
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
            });
          }
        });
    },
    getMembers() {
      let uri = `/api/auth/getMembers`;
      this.axios.get(uri, { headers: { Authorization: "Bearer " + localStorage.getItem("token") }, }) .then((response) => {
          this.users = response.data.data;
        }) .catch((error) => {
          if (error.response.status === 401) {
            this.$router.push({ name: "login" });
            clearSession();
          } else {
            this.$toast.open({ message: "Something went wrong!",type: "error", position: "top",
            });
          }
        });
    },
          
  },
  
};
</script>